<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>appl</display-name>
  <servlet>
    <servlet-name>sv</servlet-name>
    <servlet-class>com.jumppi.frwk.jump.CtlServletREST</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>svsim</servlet-name>
    <servlet-class>com.jumppi.frwk.sim.CtlServletUcsim</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>svtest</servlet-name>
    <servlet-class>com.jumppi.frwk.jump.CtlServletTest</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>JSONDoc</display-name>
    <servlet-name>JSONDoc</servlet-name>
    <servlet-class>com.jumppi.frwk.jsondoc.JSONDocServlet</servlet-class>
  </servlet>
  <context-param>
    <param-name>dbconfig-class</param-name>
    <param-value>appl.config.DBConfig</param-value>
  </context-param>
  <context-param>
    <param-name>uriroute-class</param-name>
    <param-value>appl.rest.UriRoute</param-value>
  </context-param>
  <context-param>
    <param-name>dbucsim-db-name</param-name>
    <param-value>appl</param-value>
  </context-param>
  <context-param>
    <param-name>dbucsim-db-port</param-name>
    <param-value>3306</param-value>
  </context-param>
  <context-param>
    <param-name>dbucsim-username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbucsim-password</param-name>
    <param-value></param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>sv</servlet-name>
    <url-pattern>/sv/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>svsim</servlet-name>
    <url-pattern>/svsim/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>svtest</servlet-name>
    <url-pattern>/svtest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JSONDoc</servlet-name>
    <url-pattern>/jsondoc</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>2</session-timeout>
  </session-config>
  <listener>
    <listener-class>
		com.jumppi.frwk.jump.ConfigListener
    </listener-class>
  </listener>
</web-app>